/*layout*/

html{
  font-size: 10 px;
}
/*header*/
div.header{
  display : flex;
  margin-bottom : 10px;
  justify-content : center;
}

/*body*/
body{
  background: lime;

}

.container{
  width : 80%;
  max-width : 1200px;
  margin : 0;
}

.container *{
  box-sizing : border-box;
}

/*form input boxes*/


.flex-outer{
  list-style-type : none;
  padding : 0px 16px;
  max-width : 800px;
}
.flex-inner, .flex-outer{
  list-style-type : none;
  padding : 0;

}
ul.flex-outer{
  max-width : 800px;
  padding : 0px 16px;
}

.flex-outer li, .flex-inner{
  display : flex;
  flex-wrap : wrap;
  align-items : center;
  width : 100%
}

.flex-inner{
  padding : 0 8px;
  justify-content : space-between;
}



.flex-outer > li > label,
.flex-outer li p{
  flex : 1 0 125px;
  max-width : 225px;

}
.flex-outer > li > label + * ,
ul.flex-inner {
  flex : 1 0 225px;
}

label, input{
  display: table-cell;
  justify-content: space-between;
}

label{
  padding-right: 10px;
  justify-content: center;
}

.flex-outer > li > button {
  padding : 6px 12px;

}

