/*layout*/

html{
  font-size: 10 px;
}
/*header*/
div.header{
  display : flex;
  margin-bottom : 10px;
  justify-content: center;
}

/*form input boxes*/

form.boxes{
  display: table;
  
}

div.boxes{
  display: table-row;
  
}

label, input{
  display: table-cell;
  justify-content: space-between;
}

label{
  padding-right: 10px;
  justify-content: center;
}

