/*layout*/

html{
  font-size: 10 px;
}
/*header*/
div.header{
  display : flex;
  margin-bottom : 10px;
  justify-content : center;
}

/*form input boxes*/

form.boxes{
  display : table;
  display : inline;
}

div.boxes{
  display : table-row;

}

.flex-outer{
  list-style-type : none;
  padding : 0px 16px;
  max-width : 800px;
}

label, input{
  display: table-cell;
  justify-content: space-between;
}

label{
  padding-right: 10px;
  justify-content: center;
}

