/*basic layout*/
html, body {
    margin: 0;
    padding: 0;
  }
  
  html {
    font-size: 10px;
  
  }
  
  body {
    width: 70%;
    min-width: 800px;
    margin: 0 auto;
    background-color: #6091C3;
  }
  

/*header*/


.header{
    display:flex;
    margin-bottom: 15px;
}

div > h2 + p + ol {
    display: flex;
}


header img{
    display : block;
    height : 60px;
    padding-top : 20.15px;
}

h1, h2, h3 {
    font-family: 'Cinzel Decorative', cursive;
    color: #2a2a2a;
  }

/*Middle image& flex image to side of body with lists*/
.caption{
    display: block; 
}

/*body*/

.container{
    width : 80%;
    max-width : 1200px;
    margin : 0;
  }

